<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistem Rekomendasi Film</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Sistem Rekomendasi Film</h1>
        <button id="recommend-btn">Cari Film</button>
        <button id="random-recommend-btn">Rekomendasi</button>
        <div id="genre-select" style="display: none;">
            <label for="genre">Pilih Genre:</label>
            <select id="genre" name="genre">
                <option value="Semua">Semua</option>
                <option value="Comedy">Comedy</option>
                <option value="Drama">Drama</option>
                <option value="Romance">Romance</option>
                <option value="Animation">Animation</option>
                <option value="Fantasy">Fantasy</option>
                <option value="Action">Action</option>
                <option value="Thriller">Thriller</option>
                <option value="Sci-Fi">Sci-Fi</option>
                <option value="Horror">Horror</option>
                <option value="Mystery">Mystery</option>
                <option value="Adventure">Adventure</option>
                <option value="Crime">Crime</option>
                <option value="War">War</option>
                <option value="Western">Western</option>
            </select>
        </div>
        <div id="recommendations" style="display: none;">
            <h2>Rekomendasi Berdasarkan Genre:</h2>
            <ul id="recommendation-list"></ul>
        </div>
        <div id="movies-container"></div>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
